@import "tailwindcss";

/* =========================
   GENERAL SANS
========================= */

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "General Sans";
  src: url("./assets/fonts/GeneralSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

/* =========================
   ROOT
========================= */

:root {
  --bg: #f7f4ef;
  --text: #161616;
  --border: #e5ddd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

section {
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(223, 216, 207, 0.8),
    transparent
  );
}

::selection {
  background: #161616;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #b8afa3;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}